<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Pokedex</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Projeto Pokedex</h1>
    
    <h2>SQUIRTLE</h2> <img src="https://pm1.narvii.com/6297/d363a12a5c45e2656731bd39a19976699b429391_hq.jpg" alt="Squirtle">
    


   <h2>CATERPIE</h2> <img src="https://p.kindpng.com/picc/s/229-2299454_pokemon-caterpie-hd-png-download.png" alt="Caterpie">
   <br>
   <fieldset>
    <label>Nome:</label>
    <input type=" url" name="Nome" id="nome-input" placeholder="Nome" required>
  </fieldset>
  <br>
  <fieldset>
    <label>Descrição do Pokemon:</label>    
    <input type="text" name="Descrição" id="descricão-input" placeholder="Descrição personagem" required>
  </fieldset>


   <button id="create-button" type="submit">Cadastrar</button>

   <script src="/js/script.js"></script>

</body>
</html>